<label class="oif-option-title">
    <span>
        {{localize title}}
        {{#if disabled}}
            <i class="oif-disabled-option-text"> {{localize disabledMessage}} </i>
        {{/if}}
    </span>
</label>