{{log 'todo-list-template' this}}
<form>
    <p>{{localize "OIF.ItemTags.Text"}}</p>
    <input type="text" value="{{itemTags}}" name="itemTags" data-type="String"/>
    <button type="button" data-action="save"><i class="fas fa-check"></i> {{localize "OIF.ItemTags.Save"}}</button>
</form>